*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Project-specific
resources
roster*
admin
archive
.ipynb_checkpoints/

# LaTeX
*.synctex.gz
*.out
*.aux
*.idx
*.log

# Exported files in notebooks directory
notebooks/*pdf
notebooks/*html
notebooks/*pyx

*Bios366_project_data*
_homework/
_project/
test.*
*.png
*.svg
baseball_pickle
mb.csv
notebooks/MCMC*
notebooks/*sqlite
nbmerge.py

# OS X junk
.DS_Store

.domino*
example_code/

Grades*
students.csv